
.forgotPasswordForm{
    padding:0 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    animation: form-fade-in 1.5s ease-in-out; 
}
@keyframes form-fade-in {
    from {
      opacity:0;
    }
    to {
     opacity:1;
    }
}
.forgotPasswordSentDiv{
    border:1px solid white;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:auto 5%;
    padding: 3%;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 2vmax;
    text-align: center;
}

.forgotPasswordSentInfo{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.forgotPasswordHeading{
   font-size:5vmax;
   text-align: center;
   text-transform:uppercase;
}

.forgotPasswordSubmit{
    border:none;
    width:100%;
    margin:3% 0;
    padding:2.5%;
    border-radius: 10px;
    font-family: inherit;
    font-style: inherit;
    text-transform: uppercase;
    letter-spacing: 0.06vw;
    font-size: 1.8vmax;
    cursor: pointer;
    background: rgb(114, 2, 2);
    color:rgb(243, 201, 201);
    transition: all 0.1s ease-in-out;
}
.forgotPasswordSubmit:hover{
    background: black;
    color:darkred;
}

.forgotPasswordError{
    border: 2px solid black;
    background: red;
    color:white;
    padding:2%;
    border-radius: 20px;
    font-size: 1.25vmax;
    display: block;
    text-transform: capitalize;
}
.forgotPasswordAnchorsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
}
.forgotPasswordAnchors{
    border:none;
    padding:1%;
    background: transparent;
    border-radius: 10px;
    color:black;
    font-size: 1.2vmax;
    text-decoration: underline;
    transform: scale(1.2);
    font-style: inherit;
    font-family: inherit;
    transition: all 0.1s ease-in-out;
}
.forgotPasswordAnchors:hover{
    box-shadow: 0.1vw 0.1vw 0.5vw black,-0.1vw -0.1vw 0.5vw black;
}


@media only screen and (max-width: 800px){

   
   .forgotPasswordHeading{
       font-size: 8vmin;
   }
   .forgotPasswordSubmit{
       font-size: 4vmin;
   }
   .forgotPasswordAnchorsDiv{
       flex-direction: column;
   }
   .forgotPasswordAnchors{
       font-size: 4vmin;
   }
}